<?php 
//config variables needs to be filled
//root_dir insert the absolute path to the directory the script is running with '/' at the end
//if you want to parse raw data you need to make a 2nd database with the name you define here and ending with '_raw'

$root_dir = '/my/path/to/file/';
$db_host = 'localhost';
$db_user = 'dbuser';
$db_pass = 'dbpass';
$db_database = 'dbname';

?>